* {
    margin: 0;
}

button {
    border-radius: 5px;
    width: 60px;
    height: auto;
    margin: 100px 0 50px;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    margin: 100px 50px;
}